pydantic[email]
uvicorn
fastapi
passlib[bcrypt]
python-jose[cryptography]
python-multipart
aiohttp[speedups]

alembic
sqlalchemy
sqlalchemy-stubs

# Code quality
flake8
isort
autoflake
black
mypy

# Testing
pytest
pytest-asyncio
requests
